**Przedstawienie top 10 gatunków muzycznych według popularności utworów globalnie oraz dla poszczególnych krajów**

In [208]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 151)

Załadowanie danych

In [209]:
fd = pd.read_csv('Final database.csv', dtype='unicode')

In [212]:
fd.head()

       Country  Popularity       Title              Genre
0       Global    31833.95  adan y eva  argentine hip hop
1          USA        8.00  adan y eva  argentine hip hop
2    Argentina    76924.40  adan y eva  argentine hip hop
3      Belgium      849.60  adan y eva  argentine hip hop
4  Switzerland    20739.10  adan y eva  argentine hip hop

In [254]:
#Wczytanie bazy danych z wybranymi kolumnami
fd = pd.read_csv('Final database.csv', usecols=['Country', 'Popularity', 'Title'])

In [253]:
#Wyświetlenie 20 prykładowych wierszy
fd.sample(20)

            Country  Popularity                     Title
133357      Ecuador     7065.10                no te creo
110689  Switzerland     1292.30  lambo diablo gt  - remix
53332        Sweden      139.10        dont hurt yourself
47643       Germany      378.25         cake by the ocean
100090        Spain     1822.25             supuestamente
64195        Norway     1775.55    that way - bonus track
41101   Switzerland     2844.00     chained to the rhythm
105364      Germany     2934.25                    mosaik
8428             UK      264.45                 unsainted
40361       Germany    22800.40                     alane
76788        Global    11437.45   what you know bout love
47077       Belgium     3091.80                  im upset
129047      Germany      156.00                jede wette
136641      Finland      316.00                 mona lisa
78914     Australia     7443.00                        go
36842       Ecuador       67.20          i don’t know why
123706  Switzerland        4.80                   wannsee
139197      Finland       43.20                 10 vuotta
49909       Ecuador    11738.65              perfect duet
35732       Belgium       73.60                levitating

Sprawdzenie danych

In [62]:
#Sprawdzanie ile jest wartości:

fd.count()

Country        170633
Uri            170633
Popularity     170633
Title          170633
Artist         170633
                ...
USA            170633
Popu_max       170633
Top10_dummy    170633
Top50_dummy    170633
Cluster        170633
Length: 151, dtype: int64

In [63]:
#Sprawdzenie typów danych

fd.dtypes

Country        object
Uri            object
Popularity     object
Title          object
Artist         object
                ...
USA            object
Popu_max       object
Top10_dummy    object
Top50_dummy    object
Cluster        object
Length: 151, dtype: object

In [213]:
fd.Country.unique()

array(['Global', 'USA', 'Argentina', 'Belgium', 'Switzerland', 'Chile',
       'Colombia', 'Costa Rica', 'Germany', 'Ecuador', 'Spain', 'Italy',
       'Mexico', 'Peru', 'Portugal', 'Taiwan', 'UK', 'Austria',
       'Australia', 'Canada', 'Finland', 'France', 'Indonesia', 'Ireland',
       'Malaysia', 'Netherlands', 'Norway', 'New Zealand', 'Philippines',
       'Poland', 'Sweden', 'Singapore', 'Turkey', 'Brazil', 'Denmark'],
      dtype=object)

Top 10 gatunków muzycznych dla wszystkich krajów

In [214]:
fd.query('Country != "Global"').nlargest(n=10, columns='Popularity')

            Country  Popularity                      Title     Genre
52641       Belgium   233766.90               shape of you       pop
52647    Costa Rica   228707.20               shape of you       pop
30479   Philippines   217605.80        say you wont let go       pop
52667     Singapore   217307.40               shape of you       pop
30474      Malaysia   208073.60        say you wont let go       pop
30483     Singapore   207858.15        say you wont let go       pop
158064  Philippines   204489.85               kathang isip       opm
151561    Singapore   202578.85  你,好不好? - tvbs連續劇【遺憾拼圖】片尾曲  mandopop
52664        Poland   202433.55               shape of you       pop
157937  Philippines   201439.70      kung di rin lang ikaw       opm

Top 10 gatunków muzycznych globalnie

In [215]:
fd.query('Country == "Global"').nlargest(n=10, columns='Popularity')

      Country  Popularity                Title           Genre
52635  Global   221571.00         shape of you             pop
60179  Global   157270.00         dance monkey  australian pop
83394  Global   130062.25              bad guy      electropop
14213  Global   129769.90              perfect             pop
71356  Global   111896.05              shallow       dance pop
12538  Global   111270.55              happier         brostep
78320  Global   109246.35           sicko mode             rap
39577  Global   108917.90                 sad!         emo rap
41393  Global   108617.10             señorita    canadian pop
30451  Global   106907.25  say you wont let go             pop

Top 10 gatunków muzycznych dla Polski, Portugali, Niemiec

In [216]:
fd.query('Country == "Poland"').nlargest(n=10, columns='Popularity')

       Country  Popularity                Title                   Genre
52664   Poland   202433.55         shape of you                     pop
159041  Poland   121230.95             początek      polish alternative
159225  Poland   113605.20  chłopaki nie płaczą          polish hip hop
160149  Poland   112508.55           california          polish hip hop
83423   Poland   109888.60              bad guy              electropop
159057  Poland   104350.35          język ciała  polish alternative rap
158952  Poland   102377.90     8 kobiet - remix          polish hip hop
158718  Poland   100803.25           tamagotchi          polish hip hop
19840   Poland    99976.35        feel it still              indie rock
160482  Poland    98100.60               bestia          polish hip hop

In [250]:
fd.query('Country == "Portugal"').nlargest(n=10, columns='Popularity')

         Country  Popularity            Title         Genre
52665   Portugal   165534.55     shape of you           pop
161361  Portugal   163973.25         devia ir  hip hop tuga
161064  Portugal   122467.00           bairro  hip hop tuga
71386   Portugal   112749.30          shallow     dance pop
19533   Portugal   106935.15       goosebumps           rap
57946   Portugal   102834.35  amor de verdade  funk carioca
35993   Portugal    99972.50        despacito         latin
160944  Portugal    96834.55          tou bem  hip hop tuga
83424   Portugal    96179.20          bad guy    electropop
160636  Portugal    92092.55            louco  hip hop tuga

In [251]:
fd.query('Country == "Germany"').nlargest(n=10, columns='Popularity')

        Country  Popularity                Title           Genre
52648   Germany   141217.90         shape of you             pop
2606    Germany   102991.30               roller  german hip hop
73990   Germany   102366.55           in my mind             edm
60192   Germany    98894.45         dance monkey  australian pop
104989  Germany    98622.45       ohne mein team  german hip hop
26891   Germany    87767.35               500 ps  german hip hop
57074   Germany    72643.15  was du liebe nennst  german hip hop
68963   Germany    69893.75     sweet but psycho       dance pop
83407   Germany    69695.55              bad guy      electropop
60805   Germany    68429.00            vermissen       frauenrap

In [95]:
fd.groupby('Country')['Popularity'].nlargest(n=1)

Country
Argentina    52638     146704.35
Australia    52640     197177.10
Austria      52639     144178.75
Belgium      52641     233766.90
Brazil       52642     169428.80
Canada       52643     153784.30
Chile        3550      161841.25
Colombia     52646     192313.80
Costa Rica   52647     228707.20
Denmark      52649     139411.85
Ecuador      52650     163554.65
Finland      60196     119252.05
France       52653     158103.45
Germany      52648     141217.90
Global       52635     221571.00
Indonesia    143952    173246.80
Ireland      52655     146629.40
Italy        52656     128412.25
Malaysia     30474     208073.60
Mexico       3561      172165.00
Netherlands  52659     140016.80
New Zealand  52661     197579.85
Norway       60204     156887.25
Peru         3565      170998.15
Philippines  30479     217605.80
Poland       52664     202433.55
Portugal     52665     165534.55
Singapore    52667     217307.40
Spain        3556      134475.75
Sweden       71387     148743.25
Switzerland  52644     189351.85
Taiwan       17924     198230.15
Turkey       166702    194056.25
UK           52637     158055.35
USA          78321     140487.55
Name: Popularity, dtype: float64

In [217]:
#Stworzenie grupowania po krajach
groups = fd.groupby(by=['Country'])

In [240]:
# Grupowanie według kraju i znajdowanie maksymalnej wartości popularności
max_popularnosc = fd.groupby('Country')['Popularity'].max()
max_popularnosc

Country
Argentina      146704.35
Australia      197177.10
Austria        144178.75
Belgium        233766.90
Brazil         169428.80
Canada         153784.30
Chile          161841.25
Colombia       192313.80
Costa Rica     228707.20
Denmark        139411.85
Ecuador        163554.65
Finland        119252.05
France         158103.45
Germany        141217.90
Global         221571.00
Indonesia      173246.80
Ireland        146629.40
Italy          128412.25
Malaysia       208073.60
Mexico         172165.00
Netherlands    140016.80
New Zealand    197579.85
Norway         156887.25
Peru           170998.15
Philippines    217605.80
Poland         202433.55
Portugal       165534.55
Singapore      217307.40
Spain          134475.75
Sweden         148743.25
Switzerland    189351.85
Taiwan         198230.15
Turkey         194056.25
UK             158055.35
USA            140487.55
Name: Popularity, dtype: float64

In [247]:
# Wyznaczenie tytułu piosenki, która jest najbardziej popularna w danym kraju
max_popularnosc = fd.groupby('Country')['Popularity'].max().apply(lambda x: '{:.2f}'.format(x))
max_popularnosc

Country
Argentina      146704.35
Australia      197177.10
Austria        144178.75
Belgium        233766.90
Brazil         169428.80
Canada         153784.30
Chile          161841.25
Colombia       192313.80
Costa Rica     228707.20
Denmark        139411.85
Ecuador        163554.65
Finland        119252.05
France         158103.45
Germany        141217.90
Global         221571.00
Indonesia      173246.80
Ireland        146629.40
Italy          128412.25
Malaysia       208073.60
Mexico         172165.00
Netherlands    140016.80
New Zealand    197579.85
Norway         156887.25
Peru           170998.15
Philippines    217605.80
Poland         202433.55
Portugal       165534.55
Singapore      217307.40
Spain          134475.75
Sweden         148743.25
Switzerland    189351.85
Taiwan         198230.15
Turkey         194056.25
UK             158055.35
USA            140487.55
Name: Popularity, dtype: object

In [248]:
# Sprawdzenie tytułu najpopularniejszej piosenki w danym kraju
result = fd.groupby('Country').apply(lambda x: x.loc[x['Popularity'].idxmax(), 'Title'])
result

Country
Argentina                  shape of you
Australia                  shape of you
Austria                    shape of you
Belgium                    shape of you
Brazil                     shape of you
Canada                     shape of you
Chile                         me rehúso
Colombia                   shape of you
Costa Rica                 shape of you
Denmark                    shape of you
Ecuador                    shape of you
Finland                    dance monkey
France                     shape of you
Germany                    shape of you
Global                     shape of you
Indonesia                        dan...
Ireland                    shape of you
Italy                      shape of you
Malaysia            say you wont let go
Mexico                        me rehúso
Netherlands                shape of you
New Zealand                shape of you
Norway                     dance monkey
Peru                          me rehúso
Philippines         say you wont let go
Poland                     shape of you
Portugal                   shape of you
Singapore                  shape of you
Spain                         me rehúso
Sweden                          shallow
Switzerland                shape of you
Taiwan         something just like this
Turkey                          geceler
UK                         shape of you
USA                          sicko mode
dtype: object

Wyznaczenie najpopularniejszej piosenki w danym kraju

In [249]:
result1 = max_popularnosc + '  -  ' + result
result1

Country
Argentina                  146704.35  -  shape of you
Australia                  197177.10  -  shape of you
Austria                    144178.75  -  shape of you
Belgium                    233766.90  -  shape of you
Brazil                     169428.80  -  shape of you
Canada                     153784.30  -  shape of you
Chile                         161841.25  -  me rehúso
Colombia                   192313.80  -  shape of you
Costa Rica                 228707.20  -  shape of you
Denmark                    139411.85  -  shape of you
Ecuador                    163554.65  -  shape of you
Finland                    119252.05  -  dance monkey
France                     158103.45  -  shape of you
Germany                    141217.90  -  shape of you
Global                     221571.00  -  shape of you
Indonesia                        173246.80  -  dan...
Ireland                    146629.40  -  shape of you
Italy                      128412.25  -  shape of you
Malaysia            208073.60  -  say you wont let go
Mexico                        172165.00  -  me rehúso
Netherlands                140016.80  -  shape of you
New Zealand                197579.85  -  shape of you
Norway                     156887.25  -  dance monkey
Peru                          170998.15  -  me rehúso
Philippines         217605.80  -  say you wont let go
Poland                     202433.55  -  shape of you
Portugal                   165534.55  -  shape of you
Singapore                  217307.40  -  shape of you
Spain                         134475.75  -  me rehúso
Sweden                          148743.25  -  shallow
Switzerland                189351.85  -  shape of you
Taiwan         198230.15  -  something just like this
Turkey                          194056.25  -  geceler
UK                         158055.35  -  shape of you
USA                          140487.55  -  sicko mode
dtype: object