In [3]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',200)

In [4]:
df_orginal = pd.read_csv('./Orginal_database_from_Kaggle/Final database.csv',dtype={'Track_number':pd.Int8Dtype(),'Tracks_in_album':pd.Int64Dtype()},na_values=('n-a','NA'),sep= ',')
# pd.Int8Dtype() castuje integer for nan values from panda

C:\Users\Data\AppData\Local\Temp\ipykernel_159536\512786828.py:1: DtypeWarning: Columns (8,13,14,15,16,17,18,19,20,21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_orginal = pd.read_csv('./Orginal_database_from_Kaggle/Final database.csv',dtype={'Track_number':pd.Int8Dtype(),'Tracks_in_album':pd.Int64Dtype()},na_values=('n-a','NA'),sep= ',')

In [5]:
columns = list(df_orginal.columns) # lista nazw wszystkich kolumn
columns_to_check = [13,14,15,16,17,18,19,20,21,22,23,24,25] # lista indesków interesujących nas kolumn z warninga

In [6]:
def swich(filed):  # funncjka aby dokonac podmiany wartośći do wykrzystania przy parametrze converters
    if filed == 'n\x07':
        return  0
    else:
        return float(filed) # nadanie float i tym samym zapewnnie kolumnie odpowiedniego typu

In [7]:
columns_to_change = {} # slownik złożony z  columns_to_check i funkcji swich
for i,j in enumerate(columns):
        if i in columns_to_check:
            columns_to_change[j] = swich

In [8]:
df = pd.read_csv('./Orginal_database_from_Kaggle/Final database.csv',dtype={'Track_number':pd.Int8Dtype(),'Tracks_in_album':pd.Int64Dtype()},na_values=('n-a','NA'),sep= ',',converters=columns_to_change)
# pd.Int8Dtype() castuje integer for nan values from panda

C:\Users\Data\AppData\Local\Temp\ipykernel_159536\1933048488.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./Orginal_database_from_Kaggle/Final database.csv',dtype={'Track_number':pd.Int8Dtype(),'Tracks_in_album':pd.Int64Dtype()},na_values=('n-a','NA'),sep= ',',converters=columns_to_change)

In [9]:
df.rename(columns = {'album':'album_T_F','country': 'country_T_F'}, inplace=True)
df['Explicit'] = df['Explicit'].fillna(value=-1)

        country_T_F
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
170628            0
170629            0
170630            0
170631            0
170632            0

[170633 rows x 1 columns]

In [111]:
df.to_csv('./Final_database_updated.csv')