In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np

## Problem 1 
Nasze puste wartośći istniejące w zbiorze danych narzucają na kolumny object, ponieważ nan jest domyślnie dla biblioteki pandas widoczne jako float. Także tam gdzie chciałbym int czy boolean robi nam krzaki przynajmniej to co do tej pory udało mi się przjerzeć.
Z odpowiednio dodanymi castoawaniem typu i zamianą danych (i ich zachowaniem) pustych inaczej określone niż domyślnie udało mi się z warnigna zlikiwodać kolumne 7 11 i 12.
## Problem 2 
Dla kolumny 8 Explicti możliwość zmiany nan na domyślnie 0 kolumna boolean. Nie sprawdzałem jeszcze na ile nam to komplikuje w sesie jaką wartość niesie ze sobą kolmuna 8.
## Warning
Zlikwidowane wszystkie Warningi poza 8 ale to decyzja patrz problem 2. Kwestia czy wartości zostawiamy float czy może jednak inny typ im castujemy i coś innego niż zero. Zmiana aby pozbyć się warninga i narzucic flota dla 19 wierszy

In [ ]:
df_orginal = pd.read_csv('./Orginal_database_from_Kaggle/Final database.csv',dtype={'Track_number':pd.Int8Dtype(),'Tracks_in_album':pd.Int64Dtype()},na_values=('n-a','NA'),sep= ',')
# pd.Int8Dtype() castuje integer for nan values from panda

C:\Users\Data\AppData\Local\Temp\ipykernel_126284\512786828.py:1: DtypeWarning: Columns (8,13,14,15,16,17,18,19,20,21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_orginal = pd.read_csv('./Orginal_database_from_Kaggle/Final database.csv',dtype={'Track_number':pd.Int8Dtype(),'Tracks_in_album':pd.Int64Dtype()},na_values=('n-a','NA'),sep= ',')

In [ ]:
columns = list(df_orginal.columns) # lista nazw wszystkich kolumn
columns_to_check = [13,14,15,16,17,18,19,20,21,22,23,24,25] # lista indesków interesujących nas kolumn z warninga

In [118]:
def swich(filed):  # funncjka aby dokonac podmiany wartośći do wykrzystania przy parametrze converters
    if filed == 'n\x07':
        return  0
    else:
        return float(filed) # nadanie float i tym samym zapewnnie kolumnie odpowiedniego typu

In [119]:
columns_to_change = {} # slownik złożony z  columns_to_check i funkcji swich
for i,j in enumerate(columns):
        if i in columns_to_check:
            columns_to_change[j] = swich

In [120]:
df = pd.read_csv('./Orginal_database_from_Kaggle/Final database.csv',dtype={'Track_number':pd.Int8Dtype(),'Tracks_in_album':pd.Int64Dtype()},na_values=('n-a','NA'),sep= ',',converters=columns_to_change)
# pd.Int8Dtype() castuje integer for nan values from panda

C:\Users\Data\AppData\Local\Temp\ipykernel_113716\1933048488.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./Orginal_database_from_Kaggle/Final database.csv',dtype={'Track_number':pd.Int8Dtype(),'Tracks_in_album':pd.Int64Dtype()},na_values=('n-a','NA'),sep= ',',converters=columns_to_change)

In [121]:
df.shape

(170633, 151)

In [154]:
df_1 = pd.read_csv('./Orginal_database_from_Kaggle/Database to calculate popularity.csv')

In [155]:
df_1.shape

(9807001, 8)

In [174]:
df_1.head()

,Unnamed: 0,country,date,position,uri,track,title,artist
0,0,Global,05/11/2020,1.0,https://open.spotify.com/track/47EiUVwUp4C9fGc...,"Dakiti , Bad Bunny, Jhay Cortez",Dakiti,"Bad Bunny, Jhay Cortez"
1,1,Global,05/11/2020,2.0,https://open.spotify.com/track/35mvY5S1H3J2QZy...,"positions , Ariana Grande",positions,Ariana Grande
2,2,Global,05/11/2020,3.0,https://open.spotify.com/track/3tjFYV6RSFtuktY...,"Mood , 24kGoldn",Mood,24kGoldn
3,3,Global,05/11/2020,4.0,https://open.spotify.com/track/7hxHWCCAIIxFLCz...,"Lemonade , Internet Money",Lemonade,Internet Money
4,4,Global,05/11/2020,5.0,https://open.spotify.com/track/4y4spB9m0Q6026K...,"Lonely , Justin Bieber",Lonely,Justin Bieber

In [102]:
df.iloc[:,[7,8,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]].dtypes
# pierwszy warning wyskauje z tymi kolumnami

Artist_followers    float64
Explicit             object
Track_number           Int8
Tracks_in_album       Int64
danceability        float64
energy              float64
key                 float64
loudness            float64
mode                float64
speechiness         float64
acoustics           float64
instrumentalness    float64
liveliness          float64
valence             float64
tempo               float64
duration_ms         float64
time_signature      float64
dtype: object

In [128]:
df_orginal['key'].unique()
# szukanie unialnych wartości aby wiedzieć co trzeba podmienić aby oczyścić dane

array([1, 6, 2, 7, 8, 10, 0, 4, 11, 9, 5, 3, '1', '2', '4', '8', '5', '7',
       '0', '9', '6', '3', '11', '10', 'n\x07'], dtype=object)

In [14]:
print(df.isnull())
# przykład srpawdzania tabeli czy ma wartości null dla nas w tej postaci nie przydaten za duża tabela

        Country    Uri  Popularity  Title  Artist  Album/Single  Genre  \
0         False  False       False  False   False         False  False
1         False  False       False  False   False         False  False
2         False  False       False  False   False         False  False
3         False  False       False  False   False         False  False
4         False  False       False  False   False         False  False
...         ...    ...         ...    ...     ...           ...    ...
170628    False  False       False  False   False         False  False
170629    False  False       False  False   False         False  False
170630    False  False       False  False   False         False   True
170631    False  False       False  False   False         False  False
170632    False  False       False  False   False         False  False

        Artist_followers  Explicit  Album  ...  Sweden  Switzerland  Taiwan  \
0                  False     False  False  ...   False        False   False
1                  False     False  False  ...   False        False   False
2                  False     False  False  ...   False        False   False
3                  False     False  False  ...   False        False   False
4                  False     False  False  ...   False        False   False
...                  ...       ...    ...  ...     ...          ...     ...
170628             False     False  False  ...   False        False   False
170629             False     False  False  ...   False        False   False
170630             False     False  False  ...   False        False   False
170631             False     False  False  ...   False        False   False
170632             False     False  False  ...   False        False   False

        Turkey     UK    USA  Popu_max  Top10_dummy  Top50_dummy  Cluster
0        False  False  False     False        False        False    False
1        False  False  False     False        False        False    False
2        False  False  False     False        False        False    False
3        False  False  False     False        False        False    False
4        False  False  False     False        False        False    False
...        ...    ...    ...       ...          ...          ...      ...
170628   False  False  False     False        False        False    False
170629   False  False  False     False        False        False    False
170630   False  False  False     False        False        False    False
170631   False  False  False     False        False        False    False
170632   False  False  False     False        False        False    False

[170633 rows x 151 columns]

In [130]:
row_num = df_orginal[df_orginal['key'] == 'n\x07'].index 
print(row_num) # szukanie indexow w przypadku jakiejś niezgodnej wartości

Int64Index([ 91956,  91957,  91958,  91959,  91960,  91961,  91962,  91963,
             91964,  91965,  91966,  91967, 103976, 103977, 103978, 103979,
            103980, 157556, 157570],
           dtype='int64')

In [111]:
df.iloc[91955,[1,2,13,14,15,16,17,18,19,20,21,22,23,24,25]] #sprawdzanie konkretnego wiersza i kolmun dla niego

Uri                 https://open.spotify.com/track/6ZLGthToczpvnL5...
Popularity                                                       73.6
danceability                                                    0.631
energy                                                          0.664
key                                                               6.0
loudness                                                       -9.197
mode                                                              1.0
speechiness                                                    0.0242
acoustics                                                      0.0498
instrumentalness                                              0.00042
liveliness                                                     0.0696
valence                                                         0.407
tempo                                                         100.618
duration_ms                                                  268747.0
time_signature                                                    4.0
Name: 91955, dtype: object

In [112]:
df.info(verbose=True, show_counts=True)
# sprawdzenie kolumn ich typów oraz ilości zliczonych wartości innych niż null

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170633 entries, 0 to 170632
Data columns (total 151 columns):
 #    Column               Non-Null Count   Dtype
---   ------               --------------   -----
 0    Country              170633 non-null  object
 1    Uri                  170633 non-null  object
 2    Popularity           170633 non-null  float64
 3    Title                170628 non-null  object
 4    Artist               170628 non-null  object
 5    Album/Single         170628 non-null  object
 6    Genre                166681 non-null  object
 7    Artist_followers     170587 non-null  float64
 8    Explicit             170628 non-null  object
 9    Album                170628 non-null  object
 10   Release_date         170628 non-null  object
 11   Track_number         170628 non-null  Int8
 12   Tracks_in_album      170628 non-null  Int64
 13   danceability         170633 non-null  float64
 14   energy               170633 non-null  float64
 15   key                  170633 non-null  float64
 16   loudness             170633 non-null  float64
 17   mode                 170633 non-null  float64
 18   speechiness          170633 non-null  float64
 19   acoustics            170633 non-null  float64
 20   instrumentalness     170633 non-null  float64
 21   liveliness           170633 non-null  float64
 22   valence              170633 non-null  float64
 23   tempo                170633 non-null  float64
 24   duration_ms          170633 non-null  float64
 25   time_signature       170633 non-null  float64
 26   Genre_new            170633 non-null  object
 27   Days_since_release   167411 non-null  float64
 28   Released_after_2017  167411 non-null  float64
 29   Explicit_false       170633 non-null  int64
 30   Explicit_true        170633 non-null  int64
 31   album                170633 non-null  int64
 32   compilation          170633 non-null  int64
 33   single               170633 non-null  int64
 34   bolero               170633 non-null  int64
 35   boy band             170633 non-null  int64
 36   country              170633 non-null  int64
 37   dance/electronic     170633 non-null  int64
 38   else                 170633 non-null  int64
 39   funk                 170633 non-null  int64
 40   hip hop              170633 non-null  int64
 41   house                170633 non-null  int64
 42   indie                170633 non-null  int64
 43   jazz                 170633 non-null  int64
 44   k-pop                170633 non-null  int64
 45   latin                170633 non-null  int64
 46   metal                170633 non-null  int64
 47   opm                  170633 non-null  int64
 48   pop                  170633 non-null  int64
 49   r&b/soul             170633 non-null  int64
 50   rap                  170633 non-null  int64
 51   reggae               170633 non-null  int64
 52   reggaeton            170633 non-null  int64
 53   rock                 170633 non-null  int64
 54   trap                 170633 non-null  int64
 55   syuzhet_norm         71866 non-null   float64
 56   bing_norm            71866 non-null   float64
 57   afinn_norm           71866 non-null   float64
 58   nrc_norm             71866 non-null   float64
 59   syuzhet              71866 non-null   float64
 60   bing                 71866 non-null   float64
 61   afinn                71866 non-null   float64
 62   nrc                  71866 non-null   float64
 63   anger                71866 non-null   float64
 64   anticipation         71866 non-null   float64
 65   disgust              71866 non-null   float64
 66   fear                 71866 non-null   float64
 67   joy                  71866 non-null   float64
 68   sadness              71866 non-null   float64
 69   surprise             71866 non-null   float64
 70   trust                71866 non-null   float64
 71   negative             71866 non-null   float64
 72   positive             71866 non-null   float64
 73   n_words              71866 non-null   float64
 74   anger_norm           71866 non-null   float64
 75   anticipation_norm    71866 non-null   float64
 76   disgust_norm         71866 non-null   float64
 77   fear_norm            71866 non-null   float64
 78   joy_norm             71866 non-null   float64
 79   sadness_norm         71866 non-null   float64
 80   surprise_norm        71866 non-null   float64
 81   trust_norm           71866 non-null   float64
 82   negative_norm        71866 non-null   float64
 83   positive_norm        71866 non-null   float64
 84   anger_norm2          71392 non-null   float64
 85   anticipation_norm2   71392 non-null   float64
 86   disgust_norm2        71392 non-null   float64
 87   fear_norm2           71392 non-null   float64
 88   joy_norm2            71392 non-null   float64
 89   sadness_norm2        71392 non-null   float64
 90   surprise_norm2       71392 non-null   float64
 91   trust_norm2          71392 non-null   float64
 92   negative_norm2       71449 non-null   float64
 93   positive_norm2       71449 non-null   float64
 94   negative_bog_jr      71866 non-null   float64
 95   positive_bog_jr      71866 non-null   float64
 96   Bayes                71866 non-null   float64
 97   Negative_Bayes       71866 non-null   float64
 98   Neutral_Bayes        71866 non-null   float64
 99   Positive_Bayes       71866 non-null   float64
 100  LDA_Topic            71866 non-null   object
 101  Celebrate            71866 non-null   float64
 102  Desire               71866 non-null   float64
 103  Explore              71866 non-null   float64
 104  Fun                  71866 non-null   float64
 105  Hope                 71866 non-null   float64
 106  Love                 71866 non-null   float64
 107  Nostalgia            71866 non-null   float64
 108  Thug                 71866 non-null   float64
 109  bing_norm_negative   170633 non-null  int64
 110  bing_norm_neutral    170633 non-null  int64
 111  bing_norm_positive   170633 non-null  int64
 112  Argentina            170633 non-null  int64
 113  Australia            170633 non-null  int64
 114  Austria              170633 non-null  int64
 115  Belgium              170633 non-null  int64
 116  Brazil               170633 non-null  int64
 117  Canada               170633 non-null  int64
 118  Chile                170633 non-null  int64
 119  Colombia             170633 non-null  int64
 120  Costa Rica           170633 non-null  int64
 121  Denmark              170633 non-null  int64
 122  Ecuador              170633 non-null  int64
 123  Finland              170633 non-null  int64
 124  France               170633 non-null  int64
 125  Germany              170633 non-null  int64
 126  Global               170633 non-null  int64
 127  Indonesia            170633 non-null  int64
 128  Ireland              170633 non-null  int64
 129  Italy                170633 non-null  int64
 130  Malaysia             170633 non-null  int64
 131  Mexico               170633 non-null  int64
 132  Netherlands          170633 non-null  int64
 133  New Zealand          170633 non-null  int64
 134  Norway               170633 non-null  int64
 135  Peru                 170633 non-null  int64
 136  Philippines          170633 non-null  int64
 137  Poland               170633 non-null  int64
 138  Portugal             170633 non-null  int64
 139  Singapore            170633 non-null  int64
 140  Spain                170633 non-null  int64
 141  Sweden               170633 non-null  int64
 142  Switzerland          170633 non-null  int64
 143  Taiwan               170633 non-null  int64
 144  Turkey               170633 non-null  int64
 145  UK                   170633 non-null  int64
 146  USA                  170633 non-null  int64
 147  Popu_max             170633 non-null  int64
 148  Top10_dummy          170633 non-null  float64
 149  Top50_dummy          170633 non-null  float64
 150  Cluster              170633 non-null  object
dtypes: Int64(1), Int8(1), float64(72), int64(65), object(12)
memory usage: 195.8+ MB

In [114]:
#df.iloc[:,[7,8,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]]
# stowrzenie fragemtnu całe tabeli na podstawie kolumn z warnigniem dla orginały niżej skomentowane to samo ale juz dla poprawionej 
#df.iloc[:,[8,13,14,15,16,17,18,19,20,21,22,23,24,25]]